.jarviis-img {
  width: 300px;
  height: 300px;
  object-fit: fill;
}
.login-img {
  width: 25px;
  height: 25px;
}
.snoopy-img {
  width: 15vh;
  height: 15vh;
  object-fit: fill;
}
@media (max-width: 1440px) {
  .logo {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 1024px) {
  .logo {
    width: 70px;
    height: 70px;
    margin-top: 8px;
  }
}
@media (max-width: 864px) {
  .logo {
    width: 57px;
    height: 57px;
    margin-top: 14px;
    
  }
}
