/* Reset CSS */
a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header {
  background-color: RGB(229, 226, 207);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  height: 86px;
  font-family: Arial, Helvetica, sans-serif;
}

.gnb {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gnb li {
  margin: 0 20px;
  list-style: none;
  text-decoration: none;
  float: left;
}

.search {
  text-align: right;
  margin: auto;
}

@media (max-width: 1440px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3px;
  }
  .gnb li {
    margin: 0 20px;
    font-size: 17px;
  }
  .search {
    text-align: right;
  }
}

@media (max-width: 1024px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1px;
  }
  .gnb li {
    margin: 0 16px;
    font-size: 14px;
  }
  .logo {
    text-align: left;
  }
  .search {
    text-align: right;
  }
}

@media (max-width: 768px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1px;
  }
  .gnb li {
    margin: 0 30px;
    font-size: 20px;
  }
  .search {
    text-align: right;
  }
}

@media (max-width: 864px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 748px;
  }
  .gnb li {
    margin: 0 13px;
    font-size: 2px;
  }
  .search {
    width: 201px;
    height: 31px;
  }
}

.gnb div {
  margin: 1rem 2rem;
  font-family: "Inter", sans-serif;
}

.gnb div a {
  --color: #356859;
  position: relative;
  color: var(--color);
  padding: 0.2rem 0;
}

.gnb div a::before {
  --line-width: 115%;
  --line-height: 1px;
  --line-easing: ease;
  --line-transition-duration: 300ms;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--line-width);
  height: var(--line-height);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: var(--color);
  -webkit-transition: -webkit-transform var(--line-transition-duration) var(--line-easing);
  transition: -webkit-transform var(--line-transition-duration) var(--line-easing);
  transition: transform var(--line-transition-duration) var(--line-easing);
  transition: transform var(--line-transition-duration) var(--line-easing), -webkit-transform var(--line-transition-duration) var(--line-easing);
  z-index: 1;
}

.gnb div a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.gnb div a:hover span {
  --deg: -45deg;
}

.gnb div a:hover span::before {
  -webkit-transform: rotate(var(--deg));
          transform: rotate(var(--deg));
}

.gnb div a:hover span::after {
  -webkit-transform: translateX(-1px) rotate(var(--deg));
          transform: translateX(-1px) rotate(var(--deg));
}

.gnb div a span {
  --line-arrow-width: 1px;
  --line-arrow-height: 6px;
  --line-arrow-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
  --line-arrow-transition-duration: 200ms;
  --line-arrow-transition-delay: 240ms;
}

.gnb div a span::before, .gnb div a span::after {
  content: "";
  position: absolute;
  right: -18%;
  bottom: 0px;
  background: var(--color);
  -webkit-transition: -webkit-transform var(--line-arrow-transition-duration) var(--line-arrow-easing);
  transition: -webkit-transform var(--line-arrow-transition-duration) var(--line-arrow-easing);
  transition: transform var(--line-arrow-transition-duration) var(--line-arrow-easing);
  transition: transform var(--line-arrow-transition-duration) var(--line-arrow-easing), -webkit-transform var(--line-arrow-transition-duration) var(--line-arrow-easing);
  -webkit-transition-delay: var(--line-arrow-transition-delay);
          transition-delay: var(--line-arrow-transition-delay);
  z-index: 2;
}

.gnb div a span::before {
  width: var(--line-arrow-width);
  height: var(--line-arrow-height);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.gnb div a span::after {
  height: var(--line-arrow-width);
  width: var(--line-arrow-height);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: translateX(-1px) rotate(0deg);
          transform: translateX(-1px) rotate(0deg);
}
/*# sourceMappingURL=Navi.css.map */