#index_01{ width: 1200px; height: 400px; border: 1px solid dimgrey; margin: 0 auto; } 
#header1{ height: 100px; border-bottom: 1px solid dimgrey; box-sizing: border-box; text-align: center; line-height: 100px; font-size: 1.5rem; } 
#slide1{ height: 300px; overflow: hidden; border-bottom: 1px solid dimgrey; } 
#slide1>ul{ width: 3600px; font-size: 0; } 
#slide1>ul>li{ display: inline-block; font-size: 0; }
