@font-face {
    font-family: 'UhBeeRami';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeRami.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'DOSGothic';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Snow';
        src: url('./Snaps-Taste-Christmas.woff');
        font-weight: normal;
        font-style: normal;
    }